<div  class = "container" ng-controller="conversionViewCtrl" >

	<div class = "row">
	<ol class="breadcrumb">
  <li><a ui-sref="app">Home</a></li>
  
  <li class="active">Currency Conversion</li>
</ol>
			<div class = "col-sm-12">
				<h3>Currency Converion</h3>
				<hr>	
			</div>
	</div>
	
	
		<div class = "row">
			<div class = "col-sm-offset-0">
				<form class="form-horizontal userForm" name = "form" novalidate>
					<div class="form-group">
						<label class="control-label col-sm-2" for="sourceCurr">From :</label>
						<div class="col-sm-3">
							<select ng-model="input.sourceCurr" ng-options="k as v for (k,v) in selectCurrencyCodes" required >
							</select>
						</div>
						
					</div>
					
					
					<div class="form-group">
						<label class="control-label col-sm-2" for="targetCurr"> To:</label>
						<div class="col-sm-3">
							<select ng-model="input.targetCurr" ng-options="k as v for (k,v)  in selectCurrencyCodes" required>
							</select>
						
						</div>
					</div>
					
					
					<div class="form-group">
						<label class="control-label col-sm-2" for="amount">Amount :</label>
						<div class="col-sm-2">
							<input type="number"  class="form-control" id="amount" 
								   placeholder="Enter Amount" ng-model = "input.amount" required>
								
								
						</div>
					</div>
		
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-3">
							<button type="submit" class="btn btn-primary btn-lg" ng-click = "getRate(input)" ng-disabled="form.$invalid" >
								
								Get Rates
								 <span ng-if = "showLoadingIcon"><i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
								 <span class="sr-only">Loading...</span></span>
							 </button>
						</div>
					</div>
				</form>
		    </div>
		</div>
		
		<div class = "row" ng-if = "showResults">	
			<div class = "well col-sm-3 col-sm-offset-2">
				<h3> {{input.targetCurr}} {{result}} </h3>
			</div>
		</div>	
		
		
		
	</div>